Update/flows.json
[
    {
        "id": "21fbf27b69889fbb",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30c481ae35dcc950",
        "type": "tab",
        "label": "Execution flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e424e7a48d7c7c26",
        "type": "tab",
        "label": "WIFI Management",
        "disabled": false,
        "info": ""
    },
    {
        "id": "08f5dea6a83aa487",
        "type": "tab",
        "label": "Alexa Management",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f04735eec23b5190",
        "type": "tab",
        "label": "Experimental",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72398a8799afddcb",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a21aa2c4ac1c570",
        "type": "subflow",
        "name": "Single/long press",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "9eb90bf6a058723f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 940,
                "y": 140,
                "wires": [
                    {
                        "id": "4a37d827ff8e36c2",
                        "port": 0
                    },
                    {
                        "id": "a06b20b11e57679f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 940,
                "y": 180,
                "wires": [
                    {
                        "id": "33f5c40cbb0c6ec1",
                        "port": 0
                    },
                    {
                        "id": "a06b20b11e57679f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "ButtonPressed",
                "type": "str",
                "value": "press"
            },
            {
                "name": "ButtonReleased",
                "type": "str",
                "value": "release"
            },
            {
                "name": "OutputSingle",
                "type": "str",
                "value": "single"
            },
            {
                "name": "OutputLong",
                "type": "str",
                "value": "long"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "afaefa17980872eb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "881f81eaac918727",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "907bbe60.b555f",
        "type": "ui_tab",
        "name": "Wifi",
        "icon": "wifi",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c93e4ec5cd117f31",
        "type": "ui_tab",
        "name": "Rules",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cfddbc73e4437724",
        "type": "ui_group",
        "name": "Set Time",
        "tab": "881f81eaac918727",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f112c67bb09a272d",
        "type": "ui_group",
        "name": "Color Picker",
        "tab": "881f81eaac918727",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "61cb2482eb29561d",
        "type": "ui_group",
        "name": "ON/OFF",
        "tab": "881f81eaac918727",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d0f060d.dee7e8",
        "type": "ui_group",
        "name": "Wifi",
        "tab": "907bbe60.b555f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1e7431b.229d5",
        "type": "ui_group",
        "name": "Current wifi",
        "tab": "907bbe60.b555f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "164170ab9447d34f",
        "type": "ui_group",
        "name": "Status",
        "tab": "907bbe60.b555f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c205e26f.6865a",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "110f893b.a0f1d7",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 13,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8924e22f.e375e",
        "type": "ui_group",
        "name": "Teste",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "53b1b254d42f7c73",
        "type": "ui_group",
        "name": "Settings",
        "tab": "881f81eaac918727",
        "order": 3,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9bd400448c4b9cb",
        "type": "ui_group",
        "name": "Rule 1",
        "tab": "c93e4ec5cd117f31",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "90f5204108b7efb1",
        "type": "ui_group",
        "name": "Rules activation",
        "tab": "c93e4ec5cd117f31",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e4549ad1f0b8058",
        "type": "ui_group",
        "name": "Manuals",
        "tab": "907bbe60.b555f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a7f6b0.0560695",
        "type": "ui_group",
        "name": "Performance",
        "tab": "18b10517.00400b",
        "order": 1,
        "disp": true,
        "width": 25
    },
    {
        "id": "18b10517.00400b",
        "type": "ui_tab",
        "name": "Performance",
        "icon": "show_chart"
    },
    {
        "id": "f96dd94c6a26858e",
        "type": "ui_group",
        "name": "Rule 2",
        "tab": "c93e4ec5cd117f31",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fa17e3240755e5e",
        "type": "ui_group",
        "name": "Rule 3",
        "tab": "c93e4ec5cd117f31",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cde377a643b1dbaa",
        "type": "ui_group",
        "name": "Rule 4",
        "tab": "c93e4ec5cd117f31",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6d48674030e717e",
        "type": "ui_group",
        "name": "Rule 5",
        "tab": "c93e4ec5cd117f31",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5454424ef3c77379",
        "type": "ui_spacer",
        "z": "21fbf27b69889fbb",
        "name": "spacer",
        "group": "61cb2482eb29561d",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "a82dbc731a8c843e",
        "type": "ui_spacer",
        "z": "e424e7a48d7c7c26",
        "name": "spacer",
        "group": "cfddbc73e4437724",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7af6b1221d1e636",
        "type": "ui_tab",
        "name": "Einstellungen",
        "icon": "settings",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9ac046d752c037c",
        "type": "ui_group",
        "name": "Uhr",
        "tab": "e7af6b1221d1e636",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e52e753902fcf219",
        "type": "ui_group",
        "name": "Firmware",
        "tab": "e7af6b1221d1e636",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdd6186adfc34069",
        "type": "trigger",
        "z": "0a21aa2c4ac1c570",
        "name": "send long press after 0.75s",
        "op1": "",
        "op2": "long",
        "op1type": "nul",
        "op2type": "str",
        "duration": "0.75",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "12af51397fe79f55",
                "bc826895d32dcb11"
            ]
        ]
    },
    {
        "id": "9eb90bf6a058723f",
        "type": "switch",
        "z": "0a21aa2c4ac1c570",
        "name": "press/release?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ButtonPressed",
                "vt": "env"
            },
            {
                "t": "eq",
                "v": "ButtonReleased",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "cdd6186adfc34069",
                "1c08003010f0413b"
            ],
            [
                "84e9c45f3d668b9e",
                "9b42a570b5f81245",
                "a06b20b11e57679f"
            ]
        ]
    },
    {
        "id": "12af51397fe79f55",
        "type": "switch",
        "z": "0a21aa2c4ac1c570",
        "name": "single/long?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "4a37d827ff8e36c2"
            ],
            [
                "33f5c40cbb0c6ec1"
            ]
        ]
    },
    {
        "id": "84e9c45f3d668b9e",
        "type": "change",
        "z": "0a21aa2c4ac1c570",
        "name": "Reset trigger",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "cdd6186adfc34069"
            ]
        ]
    },
    {
        "id": "9b42a570b5f81245",
        "type": "change",
        "z": "0a21aa2c4ac1c570",
        "name": "send single press",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "single",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "893ebfc578b07bbc"
            ]
        ]
    },
    {
        "id": "bc826895d32dcb11",
        "type": "change",
        "z": "0a21aa2c4ac1c570",
        "name": "Handled",
        "rules": [
            {
                "t": "set",
                "p": "handled",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1c08003010f0413b",
        "type": "change",
        "z": "0a21aa2c4ac1c570",
        "name": "Unhandled",
        "rules": [
            {
                "t": "set",
                "p": "handled",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "893ebfc578b07bbc",
        "type": "switch",
        "z": "0a21aa2c4ac1c570",
        "name": "Not handled yet",
        "property": "handled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "12af51397fe79f55"
            ]
        ]
    },
    {
        "id": "4a37d827ff8e36c2",
        "type": "change",
        "z": "0a21aa2c4ac1c570",
        "name": "Single press",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OutputSingle",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "33f5c40cbb0c6ec1",
        "type": "change",
        "z": "0a21aa2c4ac1c570",
        "name": "Long press",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OutputLong",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a06b20b11e57679f",
        "type": "change",
        "z": "0a21aa2c4ac1c570",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "released",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f801a1d90fe6456a",
        "type": "ui_slider",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Helligkeit",
        "tooltip": "",
        "group": "53b1b254d42f7c73",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "fe02f55063837e99"
            ]
        ]
    },
    {
        "id": "a13b482ed4fffe2c",
        "type": "ui_colour_picker",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "",
        "group": "f112c67bb09a272d",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "fd0dcbb97471848c"
            ]
        ]
    },
    {
        "id": "fe02f55063837e99",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.led.brightness",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "clock.led.brightness",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 540,
        "wires": [
            [
                "4659b838ff98b530"
            ]
        ]
    },
    {
        "id": "fd0dcbb97471848c",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.led.red",
                "pt": "msg",
                "to": "payload.r",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "clock.led.blue",
                "pt": "msg",
                "to": "payload.b",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "clock.led.green",
                "pt": "msg",
                "to": "payload.g",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "clock.led.red",
                "pt": "flow",
                "to": "payload.r",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.blue",
                "pt": "flow",
                "to": "payload.b",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.green",
                "pt": "flow",
                "to": "payload.g",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 420,
        "wires": [
            [
                "5ef11505af9f88e2"
            ]
        ]
    },
    {
        "id": "7d8906a7ecab2a06",
        "type": "ui_dropdown",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Farben",
        "tooltip": "",
        "place": "Select color",
        "group": "53b1b254d42f7c73",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Weiß",
                "value": "255,255,255",
                "type": "str"
            },
            {
                "label": "Rot",
                "value": "255,0,0",
                "type": "str"
            },
            {
                "label": "Grün",
                "value": "0,255,0",
                "type": "str"
            },
            {
                "label": "Blau",
                "value": "0,0,255",
                "type": "str"
            },
            {
                "label": "Orange",
                "value": "255,165,0",
                "type": "str"
            },
            {
                "label": "Gelb",
                "value": "255,255,0",
                "type": "str"
            },
            {
                "label": "Magenta",
                "value": "255,0,255",
                "type": "str"
            },
            {
                "label": "Lila",
                "value": "128,0,128",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "6dadb6af33bcd5ee"
            ]
        ]
    },
    {
        "id": "6dadb6af33bcd5ee",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "let str = msg.payload;\nlet values = str.split(',');\nmsg.payload = {};\nmsg.payload['r'] = parseInt(values[0],10);\nmsg.payload['g'] = parseInt(values[1],10);\nmsg.payload['b'] = parseInt(values[2],10);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "a13b482ed4fffe2c",
                "fd0dcbb97471848c"
            ]
        ]
    },
    {
        "id": "2ec485218e8063c4",
        "type": "link in",
        "z": "21fbf27b69889fbb",
        "name": "brighnessInput",
        "links": [
            "5ef11505af9f88e2",
            "6e5f6719a10bfad5"
        ],
        "x": 145,
        "y": 580,
        "wires": [
            [
                "bc78864b0a7b7df9",
                "4659b838ff98b530"
            ]
        ]
    },
    {
        "id": "5d839338ccd8f379",
        "type": "ui_switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "61cb2482eb29561d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "c56ac174231cf59b"
            ]
        ]
    },
    {
        "id": "c56ac174231cf59b",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.on",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "clock.on",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "7c55bff7cb27d113",
                "a296c5dab11d57d6"
            ]
        ]
    },
    {
        "id": "7c55bff7cb27d113",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "clock",
                "pt": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Home_Color_Picker\",\"Home_Settings\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Home_Color_Picker\",\"Home_Settings\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 240,
        "wires": [
            [
                "3b56ef6ef3bc53d3"
            ]
        ]
    },
    {
        "id": "3b56ef6ef3bc53d3",
        "type": "ui_ui_control",
        "z": "21fbf27b69889fbb",
        "name": "",
        "events": "all",
        "x": 1100,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c78805e46927af35",
        "type": "link in",
        "z": "21fbf27b69889fbb",
        "name": "on/off_switch",
        "links": [
            "3605afac912bedd0",
            "9a582788be4a5554"
        ],
        "x": 155,
        "y": 300,
        "wires": [
            [
                "dd6fe6253a782595"
            ]
        ]
    },
    {
        "id": "25fd4ec750b05c96",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "clock.led.brightness",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "clock",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "f801a1d90fe6456a"
            ]
        ]
    },
    {
        "id": "d518dff40135597a",
        "type": "rpi-gpio in",
        "z": "21fbf27b69889fbb",
        "name": "",
        "pin": "23",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 160,
        "y": 660,
        "wires": [
            [
                "80d00d7c8d3a370e"
            ]
        ]
    },
    {
        "id": "592fcd4a64cc5cf6",
        "type": "rpi-gpio in",
        "z": "21fbf27b69889fbb",
        "name": "",
        "pin": "24",
        "intype": "down",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 160,
        "y": 840,
        "wires": [
            [
                "a46a5a28d07e6a54"
            ]
        ]
    },
    {
        "id": "a2c6735e50a0a277",
        "type": "switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "property": "clock.on",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 800,
        "wires": [
            [
                "24af551be048c8a6"
            ],
            [
                "13e6a7891050e3e7"
            ]
        ]
    },
    {
        "id": "13e6a7891050e3e7",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.on",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 820,
        "wires": [
            [
                "6e376184e2436126"
            ]
        ]
    },
    {
        "id": "24af551be048c8a6",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.on",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "6e376184e2436126"
            ]
        ]
    },
    {
        "id": "6e376184e2436126",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "touch1_out",
        "mode": "link",
        "links": [
            "092e391f1fde0693"
        ],
        "x": 1265,
        "y": 800,
        "wires": []
    },
    {
        "id": "ae58bc43be15e4ea",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "let brightness = RED.util.cloneMessage(flow.get(\"clock.led.brightness\")) || 0;\n\nif(msg.payload == \"long\"){\n    context.set(\"loop\",true);\n    msg.payload = 2;\n    return msg;\n} else if (msg.payload == 2){\n    let loop = context.get(\"loop\");\n    if (loop){\n        brightness = brightness-1;\n        if (brightness<=5){\n            brightness = 100;\n        }\n    msg.clock = {};\n    msg.clock.led = {};\n    msg.clock.led['brightness'] = brightness;\n    return msg;\n    }\n} else if (msg.payload == \"released\"){\n    context.set(\"loop\",false);\n}\n\n",
        "outputs": 1,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 860,
        "wires": [
            [
                "163c5b3c42135c6a",
                "41f32ed2e136f3c5"
            ]
        ]
    },
    {
        "id": "163c5b3c42135c6a",
        "type": "delay",
        "z": "21fbf27b69889fbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 920,
        "wires": [
            [
                "ae58bc43be15e4ea"
            ]
        ]
    },
    {
        "id": "c5cd8f705dee1e1b",
        "type": "ui_slider",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 1 Time",
        "tooltip": "",
        "group": "c9bd400448c4b9cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "startTime",
        "topicType": "msg",
        "min": 0,
        "max": "24",
        "step": "0.25",
        "className": "",
        "x": 170,
        "y": 1440,
        "wires": [
            [
                "940a3db755010540"
            ]
        ]
    },
    {
        "id": "e2a9188304f9d797",
        "type": "ui_dropdown",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 1",
        "tooltip": "",
        "place": "Turn Off",
        "group": "c9bd400448c4b9cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Turn off",
                "value": "turn off",
                "type": "str"
            },
            {
                "label": "Dimm 50%",
                "value": "dimm 50%",
                "type": "str"
            },
            {
                "label": "Dimm 25%",
                "value": "dimm 25%",
                "type": "str"
            },
            {
                "label": "Set to Red",
                "value": "turn red",
                "type": "str"
            },
            {
                "label": "Set to Green",
                "value": "turn green",
                "type": "str"
            },
            {
                "label": "Set to Blue",
                "value": "turn blue",
                "type": "str"
            },
            {
                "label": "Set to White",
                "value": "turn white",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rule",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "442cb32ce4c10acd"
            ]
        ]
    },
    {
        "id": "9c46247adb2d53c0",
        "type": "ui_text",
        "z": "21fbf27b69889fbb",
        "group": "c9bd400448c4b9cb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rule 1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 1440,
        "wires": []
    },
    {
        "id": "f07e7f4ad82023f8",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "let starttime = msg.payload[0];\nlet starttimeHours = Math.trunc(starttime);\nlet starttimeMin = starttime - parseInt(starttimeHours);\nstarttimeMin = starttimeMin*60;\nlet rule = msg.payload[1];\nmsg.payload = \"At \" + starttimeHours + \":\" + starttimeMin+\" \"+rule;\nlet msg1 = {};\nmsg1.payload = {};\nmsg1.payload['number'] = 1;\nmsg1.payload['rule'] = rule;\nmsg1.payload['hour'] = starttimeHours;\nmsg1.payload['min'] = starttimeMin;\nreturn [msg,msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1480,
        "wires": [
            [
                "9c46247adb2d53c0"
            ],
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "b57ebd182e7c82d3",
        "type": "join",
        "z": "21fbf27b69889fbb",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 1480,
        "wires": [
            [
                "f07e7f4ad82023f8"
            ]
        ]
    },
    {
        "id": "940a3db755010540",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1460,
        "wires": [
            [
                "b57ebd182e7c82d3"
            ]
        ]
    },
    {
        "id": "442cb32ce4c10acd",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "b57ebd182e7c82d3"
            ]
        ]
    },
    {
        "id": "f6486e721ed6e4e3",
        "type": "ui_switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Regel 1",
        "tooltip": "",
        "group": "90f5204108b7efb1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "dbbee209f29b510f",
                "51ac43df93234e4e"
            ]
        ]
    },
    {
        "id": "ec53002f11a0ea64",
        "type": "ui_ui_control",
        "z": "21fbf27b69889fbb",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "dbbee209f29b510f",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Rules_Rule_1\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Rules_Rule_1\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "ec53002f11a0ea64"
            ]
        ]
    },
    {
        "id": "3b4905dd63dc12fa",
        "type": "inject",
        "z": "21fbf27b69889fbb",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "f6486e721ed6e4e3",
                "cbaaf03f1966fdb6",
                "a0433e942776e9fe",
                "ac7503f2e211aa56",
                "255caf7607fe391b",
                "a20b846b200f9fac"
            ]
        ]
    },
    {
        "id": "8d69e788e3bb2a37",
        "type": "ui_text",
        "z": "21fbf27b69889fbb",
        "group": "3e4549ad1f0b8058",
        "order": 1,
        "width": 6,
        "height": 4,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 570,
        "y": 980,
        "wires": []
    },
    {
        "id": "cbaaf03f1966fdb6",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "In order to use the clock online and all alexa features please choose the wifi on the right, enter your password and hit update. Afterwards hit \"Switch to online\". Then you can discover the clock as an alexa device named \"uhr\" or control by entering the same wifi and opening wordclock.local:1880/ui",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 980,
        "wires": [
            [
                "8d69e788e3bb2a37"
            ]
        ]
    },
    {
        "id": "dd6fe6253a782595",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "clock.on",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "clock.led.red",
                "pt": "flow",
                "to": "clock.led.red",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.green",
                "pt": "flow",
                "to": "clock.led.green",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.blue",
                "pt": "flow",
                "to": "clock.led.blue",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.brightness",
                "pt": "flow",
                "to": "clock.led.brightness",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "5d839338ccd8f379"
            ]
        ]
    },
    {
        "id": "c1f2b2c8a7d48d24",
        "type": "link in",
        "z": "21fbf27b69889fbb",
        "name": "colour picker update",
        "links": [
            "a296c5dab11d57d6",
            "9157db6bbdb8522b",
            "d1d6417f6807cae6"
        ],
        "x": 145,
        "y": 440,
        "wires": [
            [
                "0c7ae2d4c1afb452",
                "5ef11505af9f88e2"
            ]
        ]
    },
    {
        "id": "37e491ed52d4e80e",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.r",
                "pt": "msg",
                "to": "clock.led.red",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.b",
                "pt": "msg",
                "to": "clock.led.blue",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.g",
                "pt": "msg",
                "to": "clock.led.green",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "a13b482ed4fffe2c"
            ]
        ]
    },
    {
        "id": "a296c5dab11d57d6",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "ui_on/off_out",
        "mode": "link",
        "links": [
            "c1f2b2c8a7d48d24"
        ],
        "x": 835,
        "y": 280,
        "wires": []
    },
    {
        "id": "6e5f6719a10bfad5",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "",
        "mode": "link",
        "links": [
            "2ec485218e8063c4"
        ],
        "x": 1305,
        "y": 880,
        "wires": []
    },
    {
        "id": "549a285164450260",
        "type": "inject",
        "z": "21fbf27b69889fbb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "320482dd759c7124"
            ]
        ]
    },
    {
        "id": "320482dd759c7124",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "if (!msg.hasOwnProperty(\"clock\")){\n  msg.clock = {};\n}\nif (!msg.clock.hasOwnProperty(\"on\")){\n  msg.clock['on'] = RED.util.cloneMessage(flow.get('clock.on'));\n}\nif (!msg.clock.hasOwnProperty(\"led\")){\n  msg.clock.led = {};\n}\nif (!msg.clock.led.hasOwnProperty(\"red\")){\n  msg.clock.led['red'] = RED.util.cloneMessage(flow.get('clock.led.red'));\n}\nif (!msg.clock.led.hasOwnProperty(\"green\")){\n  msg.clock.led['green'] = RED.util.cloneMessage(flow.get('clock.led.green'));\n}\nif (!msg.clock.led.hasOwnProperty(\"blue\")){\n  msg.clock.led['blue'] = RED.util.cloneMessage(flow.get('clock.led.blue'));\n}\nif (!msg.clock.led.hasOwnProperty(\"brightness\")){\n  msg.clock.led['brightness'] = RED.util.cloneMessage(flow.get('clock.led.brightness'));\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "c922c3f173e17825"
            ]
        ]
    },
    {
        "id": "5ef11505af9f88e2",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "ui_colour_out",
        "mode": "link",
        "links": [
            "2ec485218e8063c4"
        ],
        "x": 975,
        "y": 440,
        "wires": []
    },
    {
        "id": "4659b838ff98b530",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "ui_brightness_out",
        "mode": "link",
        "links": [
            "7f9e0d344fcb17cf"
        ],
        "x": 975,
        "y": 580,
        "wires": []
    },
    {
        "id": "8e9bca18b55d804d",
        "type": "inject",
        "z": "21fbf27b69889fbb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "642f8de0db6a737c"
            ]
        ]
    },
    {
        "id": "642f8de0db6a737c",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.led.red",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "clock.led.green",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "clock.led.blue",
                "pt": "msg",
                "to": "255",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "clock.led.brightness",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "clock.on",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "9a582788be4a5554"
            ]
        ]
    },
    {
        "id": "9a582788be4a5554",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "ui_on_start_out",
        "mode": "link",
        "links": [
            "c78805e46927af35"
        ],
        "x": 525,
        "y": 180,
        "wires": []
    },
    {
        "id": "7f9e0d344fcb17cf",
        "type": "link in",
        "z": "21fbf27b69889fbb",
        "name": "ui_update_in",
        "links": [
            "4659b838ff98b530"
        ],
        "x": 265,
        "y": 100,
        "wires": [
            [
                "320482dd759c7124"
            ]
        ]
    },
    {
        "id": "c922c3f173e17825",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "ui_update_out",
        "mode": "link",
        "links": [
            "7baa69309cd7eb93"
        ],
        "x": 605,
        "y": 80,
        "wires": []
    },
    {
        "id": "0c7ae2d4c1afb452",
        "type": "switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "property": "clock",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "37e491ed52d4e80e"
            ]
        ]
    },
    {
        "id": "bc78864b0a7b7df9",
        "type": "switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "property": "clock.led",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "25fd4ec750b05c96"
            ]
        ]
    },
    {
        "id": "092e391f1fde0693",
        "type": "link in",
        "z": "21fbf27b69889fbb",
        "name": "ui_on/off_in",
        "links": [
            "6e376184e2436126"
        ],
        "x": 155,
        "y": 240,
        "wires": [
            [
                "8bbbfc60c4704280"
            ]
        ]
    },
    {
        "id": "8bbbfc60c4704280",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "clock.on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "5d839338ccd8f379"
            ]
        ]
    },
    {
        "id": "41f32ed2e136f3c5",
        "type": "switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "property": "clock.led",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "brightness",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 860,
        "wires": [
            [
                "b50b8e9b6beb5c59"
            ]
        ]
    },
    {
        "id": "b50b8e9b6beb5c59",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.led.brightness",
                "pt": "flow",
                "to": "clock.led.brightness",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 860,
        "wires": [
            [
                "6e5f6719a10bfad5"
            ]
        ]
    },
    {
        "id": "8aaaff5965a02c83",
        "type": "ui_slider",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 2 Time",
        "tooltip": "",
        "group": "f96dd94c6a26858e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "startTime",
        "topicType": "msg",
        "min": 0,
        "max": "24",
        "step": "0.25",
        "className": "",
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "7f503d790bda8c0c"
            ]
        ]
    },
    {
        "id": "70c2f230138a1f68",
        "type": "ui_dropdown",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 2",
        "tooltip": "",
        "place": "Turn Off",
        "group": "f96dd94c6a26858e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Turn off",
                "value": "turn off",
                "type": "str"
            },
            {
                "label": "Dimm 50%",
                "value": "dimm 50%",
                "type": "str"
            },
            {
                "label": "Dimm 25%",
                "value": "dimm 25%",
                "type": "str"
            },
            {
                "label": "Set to Red",
                "value": "turn red",
                "type": "str"
            },
            {
                "label": "Set to Green",
                "value": "turn green",
                "type": "str"
            },
            {
                "label": "Set to Blue",
                "value": "turn blue",
                "type": "str"
            },
            {
                "label": "Set to White",
                "value": "turn white",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rule",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 1640,
        "wires": [
            [
                "8d0064400d319efa"
            ]
        ]
    },
    {
        "id": "657f6b7d42e55288",
        "type": "ui_text",
        "z": "21fbf27b69889fbb",
        "group": "f96dd94c6a26858e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rule 2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 1580,
        "wires": []
    },
    {
        "id": "938d6438e0f414fb",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "let starttime = msg.payload[0];\nlet starttimeHours = Math.trunc(starttime);\nlet starttimeMin = starttime - parseInt(starttimeHours);\nstarttimeMin = starttimeMin*60;\nlet rule = msg.payload[1];\nmsg.payload = \"At \"+ starttimeHours+\":\"+starttimeMin+\" \"+rule;\nlet msg1 = {};\nmsg1.payload = {};\nmsg1.payload['number'] = 1;\nmsg1.payload['rule'] = rule;\nmsg1.payload['hour'] = starttimeHours;\nmsg1.payload['min'] = starttimeMin;\nreturn [msg,msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1620,
        "wires": [
            [
                "657f6b7d42e55288"
            ],
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "01730e708aec26a6",
        "type": "join",
        "z": "21fbf27b69889fbb",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 1620,
        "wires": [
            [
                "938d6438e0f414fb"
            ]
        ]
    },
    {
        "id": "7f503d790bda8c0c",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1600,
        "wires": [
            [
                "01730e708aec26a6"
            ]
        ]
    },
    {
        "id": "8d0064400d319efa",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1640,
        "wires": [
            [
                "01730e708aec26a6"
            ]
        ]
    },
    {
        "id": "691269ff741eb354",
        "type": "ui_slider",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 3 Time",
        "tooltip": "",
        "group": "0fa17e3240755e5e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "startTime",
        "topicType": "msg",
        "min": 0,
        "max": "24",
        "step": "0.25",
        "className": "",
        "x": 170,
        "y": 1720,
        "wires": [
            [
                "4e93268eb6877463"
            ]
        ]
    },
    {
        "id": "d42cd179c79b1bc2",
        "type": "ui_dropdown",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 3",
        "tooltip": "",
        "place": "Turn Off",
        "group": "0fa17e3240755e5e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Turn off",
                "value": "turn off",
                "type": "str"
            },
            {
                "label": "Dimm 50%",
                "value": "dimm 50%",
                "type": "str"
            },
            {
                "label": "Dimm 25%",
                "value": "dimm 25%",
                "type": "str"
            },
            {
                "label": "Set to Red",
                "value": "turn red",
                "type": "str"
            },
            {
                "label": "Set to Green",
                "value": "turn green",
                "type": "str"
            },
            {
                "label": "Set to Blue",
                "value": "turn blue",
                "type": "str"
            },
            {
                "label": "Set to White",
                "value": "turn white",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rule",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 1780,
        "wires": [
            [
                "9e8d6ea5b0094b56"
            ]
        ]
    },
    {
        "id": "493709adfc37d14b",
        "type": "ui_text",
        "z": "21fbf27b69889fbb",
        "group": "0fa17e3240755e5e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rule 3",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 1720,
        "wires": []
    },
    {
        "id": "ba02e8e3db5bec3b",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "let starttime = msg.payload[0];\nlet starttimeHours = Math.trunc(starttime);\nlet starttimeMin = starttime - parseInt(starttimeHours);\nstarttimeMin = starttimeMin*60;\nlet rule = msg.payload[1];\nmsg.payload = \"At \"+ starttimeHours+\":\"+starttimeMin+\" \"+rule;\nlet msg1 = {};\nmsg1.payload = {};\nmsg1.payload['number'] = 1;\nmsg1.payload['rule'] = rule;\nmsg1.payload['hour'] = starttimeHours;\nmsg1.payload['min'] = starttimeMin;\nreturn [msg,msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1760,
        "wires": [
            [
                "493709adfc37d14b"
            ],
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "404f44b6026f6080",
        "type": "join",
        "z": "21fbf27b69889fbb",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 1760,
        "wires": [
            [
                "ba02e8e3db5bec3b"
            ]
        ]
    },
    {
        "id": "4e93268eb6877463",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1740,
        "wires": [
            [
                "404f44b6026f6080"
            ]
        ]
    },
    {
        "id": "9e8d6ea5b0094b56",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1780,
        "wires": [
            [
                "404f44b6026f6080"
            ]
        ]
    },
    {
        "id": "aa35c4cde4923b4d",
        "type": "ui_slider",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 4 Time",
        "tooltip": "",
        "group": "cde377a643b1dbaa",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "startTime",
        "topicType": "msg",
        "min": 0,
        "max": "24",
        "step": "0.25",
        "className": "",
        "x": 170,
        "y": 1860,
        "wires": [
            [
                "e552ade6b832ffd8"
            ]
        ]
    },
    {
        "id": "0efed0c0b2e30697",
        "type": "ui_dropdown",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 4",
        "tooltip": "",
        "place": "Turn Off",
        "group": "cde377a643b1dbaa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Turn off",
                "value": "turn off",
                "type": "str"
            },
            {
                "label": "Dimm 50%",
                "value": "dimm 50%",
                "type": "str"
            },
            {
                "label": "Dimm 25%",
                "value": "dimm 25%",
                "type": "str"
            },
            {
                "label": "Set to Red",
                "value": "turn red",
                "type": "str"
            },
            {
                "label": "Set to Green",
                "value": "turn green",
                "type": "str"
            },
            {
                "label": "Set to Blue",
                "value": "turn blue",
                "type": "str"
            },
            {
                "label": "Set to White",
                "value": "turn white",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rule",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 1920,
        "wires": [
            [
                "bc0d6fc884a9c0b0"
            ]
        ]
    },
    {
        "id": "cea2e3284ef2e75e",
        "type": "ui_text",
        "z": "21fbf27b69889fbb",
        "group": "cde377a643b1dbaa",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rule 4",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 1860,
        "wires": []
    },
    {
        "id": "86077f6dc3cd4f88",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "let starttime = msg.payload[0];\nlet starttimeHours = Math.trunc(starttime);\nlet starttimeMin = starttime - parseInt(starttimeHours);\nstarttimeMin = starttimeMin*60;\nlet rule = msg.payload[1];\nmsg.payload = \"At \"+ starttimeHours+\":\"+starttimeMin+\" \"+rule;\nlet msg1 = {};\nmsg1.payload = {};\nmsg1.payload['number'] = 1;\nmsg1.payload['rule'] = rule;\nmsg1.payload['hour'] = starttimeHours;\nmsg1.payload['min'] = starttimeMin;\nreturn [msg,msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1900,
        "wires": [
            [
                "cea2e3284ef2e75e"
            ],
            []
        ]
    },
    {
        "id": "ebb9bf8b486fa16b",
        "type": "join",
        "z": "21fbf27b69889fbb",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 1900,
        "wires": [
            [
                "86077f6dc3cd4f88"
            ]
        ]
    },
    {
        "id": "e552ade6b832ffd8",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1880,
        "wires": [
            [
                "ebb9bf8b486fa16b"
            ]
        ]
    },
    {
        "id": "bc0d6fc884a9c0b0",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1920,
        "wires": [
            [
                "ebb9bf8b486fa16b"
            ]
        ]
    },
    {
        "id": "82cdad96504daff9",
        "type": "ui_slider",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 5 Time",
        "tooltip": "",
        "group": "b6d48674030e717e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "startTime",
        "topicType": "msg",
        "min": 0,
        "max": "24",
        "step": "0.25",
        "className": "",
        "x": 170,
        "y": 2000,
        "wires": [
            [
                "7833e27472690b12"
            ]
        ]
    },
    {
        "id": "1ec5400e5f44801d",
        "type": "ui_dropdown",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Rule 5",
        "tooltip": "",
        "place": "Turn Off",
        "group": "b6d48674030e717e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Turn off",
                "value": "turn off",
                "type": "str"
            },
            {
                "label": "Dimm 50%",
                "value": "dimm 50%",
                "type": "str"
            },
            {
                "label": "Dimm 25%",
                "value": "dimm 25%",
                "type": "str"
            },
            {
                "label": "Set to Red",
                "value": "turn red",
                "type": "str"
            },
            {
                "label": "Set to Green",
                "value": "turn green",
                "type": "str"
            },
            {
                "label": "Set to Blue",
                "value": "turn blue",
                "type": "str"
            },
            {
                "label": "Set to White",
                "value": "turn white",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "rule",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 2060,
        "wires": [
            [
                "c52e98dfdc7b86ba"
            ]
        ]
    },
    {
        "id": "269d768c87a74899",
        "type": "ui_text",
        "z": "21fbf27b69889fbb",
        "group": "b6d48674030e717e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rule 5",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 930,
        "y": 2000,
        "wires": []
    },
    {
        "id": "c9a5e77749e7c1d0",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "let starttime = msg.payload[0];\nlet starttimeHours = Math.trunc(starttime);\nlet starttimeMin = starttime - parseInt(starttimeHours);\nstarttimeMin = starttimeMin*60;\nlet rule = msg.payload[1];\nmsg.payload = \"At \"+ starttimeHours+\":\"+starttimeMin+\" \"+rule;\nlet msg1 = {};\nmsg1.payload = {};\nmsg1.payload['number'] = 1;\nmsg1.payload['rule'] = rule;\nmsg1.payload['hour'] = starttimeHours;\nmsg1.payload['min'] = starttimeMin;\nreturn [msg,msg1];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 2040,
        "wires": [
            [
                "269d768c87a74899"
            ],
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "e50adc78c174850d",
        "type": "join",
        "z": "21fbf27b69889fbb",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 2040,
        "wires": [
            [
                "c9a5e77749e7c1d0"
            ]
        ]
    },
    {
        "id": "7833e27472690b12",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 2020,
        "wires": [
            [
                "e50adc78c174850d"
            ]
        ]
    },
    {
        "id": "c52e98dfdc7b86ba",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 2060,
        "wires": [
            [
                "e50adc78c174850d"
            ]
        ]
    },
    {
        "id": "a0433e942776e9fe",
        "type": "ui_switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Regel 2",
        "tooltip": "",
        "group": "90f5204108b7efb1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "2a3a03956e47a912",
                "fdc86641deb1cd9b"
            ]
        ]
    },
    {
        "id": "ac7503f2e211aa56",
        "type": "ui_switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Regel 3",
        "tooltip": "",
        "group": "90f5204108b7efb1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 1200,
        "wires": [
            [
                "2bf815408ddf0447",
                "cbb75eb8af690928"
            ]
        ]
    },
    {
        "id": "255caf7607fe391b",
        "type": "ui_switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Regel 4",
        "tooltip": "",
        "group": "90f5204108b7efb1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 1280,
        "wires": [
            [
                "1a37c16cfdba920f",
                "6c2fc637c362d4ea"
            ]
        ]
    },
    {
        "id": "a20b846b200f9fac",
        "type": "ui_switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "label": "Regel 5",
        "tooltip": "",
        "group": "90f5204108b7efb1",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 1360,
        "wires": [
            [
                "e21704dc163893be",
                "f60a32fc5c93645b"
            ]
        ]
    },
    {
        "id": "f94f5cd95bc95d32",
        "type": "ui_ui_control",
        "z": "21fbf27b69889fbb",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "2a3a03956e47a912",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Rules_Rule_2\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Rules_Rule_2\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1100,
        "wires": [
            [
                "f94f5cd95bc95d32"
            ]
        ]
    },
    {
        "id": "f387d15f04d38fb8",
        "type": "ui_ui_control",
        "z": "21fbf27b69889fbb",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "2bf815408ddf0447",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Rules_Rule_3\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Rules_Rule_3\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1180,
        "wires": [
            [
                "f387d15f04d38fb8"
            ]
        ]
    },
    {
        "id": "2f3cc60ea13a9469",
        "type": "ui_ui_control",
        "z": "21fbf27b69889fbb",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "1a37c16cfdba920f",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Rules_Rule_4\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Rules_Rule_4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1260,
        "wires": [
            [
                "2f3cc60ea13a9469"
            ]
        ]
    },
    {
        "id": "4304be26827b3444",
        "type": "ui_ui_control",
        "z": "21fbf27b69889fbb",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "e21704dc163893be",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Rules_Rule_5\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Rules_Rule_5\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1340,
        "wires": [
            [
                "4304be26827b3444"
            ]
        ]
    },
    {
        "id": "51ac43df93234e4e",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1060,
        "wires": [
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "fdc86641deb1cd9b",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1140,
        "wires": [
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "cbb75eb8af690928",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1220,
        "wires": [
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "6c2fc637c362d4ea",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1300,
        "wires": [
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "f60a32fc5c93645b",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1380,
        "wires": [
            [
                "c3e4d9fe7d5fd760"
            ]
        ]
    },
    {
        "id": "c3e4d9fe7d5fd760",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "0e0ff5739ffc35da",
        "type": "subflow:0a21aa2c4ac1c570",
        "z": "21fbf27b69889fbb",
        "name": "",
        "env": [
            {
                "name": "ButtonPressed",
                "value": "1",
                "type": "str"
            },
            {
                "name": "ButtonReleased",
                "value": "0",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 840,
        "wires": [
            [
                "c124cf1552c214c7"
            ],
            [
                "ae58bc43be15e4ea"
            ]
        ]
    },
    {
        "id": "b507b32ded829aff",
        "type": "subflow:0a21aa2c4ac1c570",
        "z": "21fbf27b69889fbb",
        "name": "",
        "env": [
            {
                "name": "ButtonPressed",
                "value": "1",
                "type": "str"
            },
            {
                "name": "ButtonReleased",
                "value": "0",
                "type": "str"
            }
        ],
        "x": 450,
        "y": 660,
        "wires": [
            [
                "5b21e095e5233eeb"
            ],
            [
                "5a5f7acc63bb748a"
            ]
        ]
    },
    {
        "id": "5b21e095e5233eeb",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "function 3",
        "func": "\n\nif(msg.payload == \"single\"){\n    let color = [\n        [255, 0, 0],\n        [0, 255, 0],\n        [0, 0, 255],\n        [255, 255, 255]\n    ];\n    \n    let i = context.get('i') || 0;\n    i = i+1;\n    if(i>3){\n        i = 0;\n    }\n    context.set(\"i\", i);\n    msg.payload = {};\n    msg.clock = {};\n    msg.clock.led = {};\n    msg.clock.led['red'] = color[i][0];\n    msg.clock.led['green'] = color[i][1];\n    msg.clock.led['blue'] = color[i][2];\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 640,
        "wires": [
            [
                "18965ed8ba39e527"
            ]
        ]
    },
    {
        "id": "5a5f7acc63bb748a",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "let hue = context.get(\"hue\") || 0;\nif(msg.payload == \"long\"){\n    context.set(\"loop\",true);\n    msg.payload = 2;\n    return msg;\n} else if (msg.payload == 2){\n    let loop = context.get(\"loop\");\n    if (loop){\n        hue = hue+5;\n        if (hue>=355){\n            hue = 0;\n        }\n    context.set(\"hue\",hue);\n    msg.clock = {};\n    msg.clock.led = {};\n    msg.clock.led['hue'] = hue;\n    return msg;\n    }\n} else if (msg.payload == \"released\"){\n    context.set(\"loop\",false);\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 680,
        "wires": [
            [
                "1ab5c4ef2876547e",
                "50ce3eee4e337891"
            ]
        ]
    },
    {
        "id": "1ab5c4ef2876547e",
        "type": "delay",
        "z": "21fbf27b69889fbb",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 740,
        "wires": [
            [
                "5a5f7acc63bb748a"
            ]
        ]
    },
    {
        "id": "d1d6417f6807cae6",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "",
        "mode": "link",
        "links": [
            "c1f2b2c8a7d48d24"
        ],
        "x": 1545,
        "y": 680,
        "wires": []
    },
    {
        "id": "50ce3eee4e337891",
        "type": "switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "property": "clock.led",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "hue",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 680,
        "wires": [
            [
                "c6bba7619dcdf6fe"
            ]
        ]
    },
    {
        "id": "ce0deabccacf6a20",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.led.red",
                "pt": "flow",
                "to": "payload[0]",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.green",
                "pt": "flow",
                "to": "payload[1]",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.blue",
                "pt": "msg",
                "to": "payload[2]",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.red",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 680,
        "wires": [
            [
                "d1d6417f6807cae6"
            ]
        ]
    },
    {
        "id": "80d00d7c8d3a370e",
        "type": "rbe",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "b507b32ded829aff"
            ]
        ]
    },
    {
        "id": "a46a5a28d07e6a54",
        "type": "rbe",
        "z": "21fbf27b69889fbb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 290,
        "y": 840,
        "wires": [
            [
                "0e0ff5739ffc35da"
            ]
        ]
    },
    {
        "id": "c124cf1552c214c7",
        "type": "switch",
        "z": "21fbf27b69889fbb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 800,
        "wires": [
            [
                "a2c6735e50a0a277"
            ]
        ]
    },
    {
        "id": "9157db6bbdb8522b",
        "type": "link out",
        "z": "21fbf27b69889fbb",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "c1f2b2c8a7d48d24"
        ],
        "x": 1055,
        "y": 640,
        "wires": []
    },
    {
        "id": "18965ed8ba39e527",
        "type": "change",
        "z": "21fbf27b69889fbb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clock.led.red",
                "pt": "flow",
                "to": "clock.led.red",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.blue",
                "pt": "flow",
                "to": "clock.led.blue",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "clock.led.green",
                "pt": "flow",
                "to": "clock.led.green",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 640,
        "wires": [
            [
                "9157db6bbdb8522b"
            ]
        ]
    },
    {
        "id": "c19e0e29597a0f73",
        "type": "color-convert",
        "z": "21fbf27b69889fbb",
        "input": "hsv",
        "output": "rgb",
        "outputType": "array",
        "scaleInput": false,
        "x": 1210,
        "y": 680,
        "wires": [
            [
                "ce0deabccacf6a20"
            ]
        ]
    },
    {
        "id": "c6bba7619dcdf6fe",
        "type": "function",
        "z": "21fbf27b69889fbb",
        "name": "function 4",
        "func": "msg.payload = [msg.clock.led.hue,100,100];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 680,
        "wires": [
            [
                "c19e0e29597a0f73"
            ]
        ]
    },
    {
        "id": "7baa69309cd7eb93",
        "type": "link in",
        "z": "30c481ae35dcc950",
        "name": "clock refresh",
        "links": [
            "c922c3f173e17825"
        ],
        "x": 265,
        "y": 180,
        "wires": [
            [
                "93fbf4d598996960"
            ]
        ]
    },
    {
        "id": "93fbf4d598996960",
        "type": "function",
        "z": "30c481ae35dcc950",
        "name": "get sys argv",
        "func": "const now = new Date();\nlet brightness = msg.clock.led.brightness;\nbrightness = (brightness*255)/100;\nlet red = msg.clock.led.red;\nlet green = msg.clock.led.green;\nlet blue = msg.clock.led.blue;\nlet white = 0;\nconst onOff = msg.clock.on;\nif (onOff == false){\n    red = 0;\n    green = 0;\n    blue = 0;\n    white = 0;\n}\nif (red == green) {\n    if (red == blue){\n    white = red;\n    red = 0;\n    green = 0;\n    blue = 0;\n    }\n}\nif (red===undefined){\n    red = 0;\n}\nif (blue===undefined){\n    blue = 0;\n}\nif (green===undefined){\n    green = 0;\n}\nif (white === undefined){\n    white = 0;\n}\nmsg = {};\nmsg = { payload: now.getHours()+\" \"+now.getMinutes()+\" \"+brightness+\" \"+red+\" \"+green+\" \"+blue+\" \"+white };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "5460be76e454f9d4"
            ]
        ]
    },
    {
        "id": "5460be76e454f9d4",
        "type": "rbe",
        "z": "30c481ae35dcc950",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "e7881123af7a678f",
                "99def9b45983d24b"
            ]
        ]
    },
    {
        "id": "e7881123af7a678f",
        "type": "exec",
        "z": "30c481ae35dcc950",
        "command": "sudo python ~/wordclock/wordclockFiles/wordclock.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 880,
        "y": 260,
        "wires": [
            [
                "9777063b317567eb"
            ],
            [],
            []
        ]
    },
    {
        "id": "9777063b317567eb",
        "type": "debug",
        "z": "30c481ae35dcc950",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "59acd3f2b097478a",
        "type": "exec",
        "z": "30c481ae35dcc950",
        "command": "pkill -9 -f test.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 520,
        "y": 360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "68d224b1d08b7152",
        "type": "inject",
        "z": "30c481ae35dcc950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "59acd3f2b097478a"
            ]
        ]
    },
    {
        "id": "1b90d06d7f000066",
        "type": "exec",
        "z": "30c481ae35dcc950",
        "command": "pkill -9 -f test2.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "802ed0f6d1b644ac",
        "type": "inject",
        "z": "30c481ae35dcc950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "1b90d06d7f000066"
            ]
        ]
    },
    {
        "id": "2667e3b128e33785",
        "type": "inject",
        "z": "30c481ae35dcc950",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "23 42 255 255 0 0 0",
        "payloadType": "str",
        "x": 550,
        "y": 260,
        "wires": [
            [
                "e7881123af7a678f"
            ]
        ]
    },
    {
        "id": "99def9b45983d24b",
        "type": "debug",
        "z": "30c481ae35dcc950",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "036e5d8351f9223a",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "sudo iwlist wlan0 scan | grep ESSID | sed 's/ESSID://g;s/\"//g;s/^ *//;s/ *$//'",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "scan",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "3aeed114c4ecde32"
            ],
            [],
            []
        ]
    },
    {
        "id": "3aeed114c4ecde32",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "parseOptions",
        "func": "var ssids = msg.payload.split('\\n').filter(s => !!s)\n\nssids = [...new Set(ssids)];\n\nmsg.options = ssids\nmsg.payload = null\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 67,
        "wires": [
            [
                "0e9da9f8d9cac06b"
            ]
        ]
    },
    {
        "id": "52fe1d933c7b5a47",
        "type": "inject",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 221,
        "wires": [
            [
                "036e5d8351f9223a",
                "d69d256692991004",
                "074dd79fa2a86df4"
            ]
        ]
    },
    {
        "id": "9444a5058680ceeb",
        "type": "switch",
        "z": "e424e7a48d7c7c26",
        "name": "ifWifi",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Wifi",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 271,
        "y": 80,
        "wires": [
            [
                "036e5d8351f9223a",
                "d69d256692991004",
                "074dd79fa2a86df4"
            ]
        ]
    },
    {
        "id": "d69d256692991004",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "ifconfig wlan0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "getInfo",
        "x": 430,
        "y": 181,
        "wires": [
            [
                "a3c336e3a29c72b6"
            ],
            [],
            []
        ]
    },
    {
        "id": "a3c336e3a29c72b6",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "parseInfo",
        "func": "var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nvar mask = msg.payload.match(/netmask ([0-9\\.]+)/)[1]\nvar broadcast = msg.payload.match(/broadcast ([0-9\\.]+)/)[1]\n\n\nnode.send({topic: 'ip', payload: ip})\nnode.send({topic: 'mask', payload: mask})\nnode.send({topic: 'broadcast', payload: broadcast})",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 168,
        "wires": [
            [
                "fa03a3e8867caaea"
            ]
        ]
    },
    {
        "id": "fa03a3e8867caaea",
        "type": "switch",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ip",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mask",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "broadcast",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 810,
        "y": 181,
        "wires": [
            [
                "d4fc497d3d0fbc72"
            ],
            [
                "a7b27421f1f9416c"
            ],
            [
                "67fa1a172a5bb74f"
            ]
        ]
    },
    {
        "id": "dbfb9ab9798d5ee8",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "func": "\nmsg.payload = {ssid: msg.payload}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 67,
        "wires": [
            [
                "b1aad502e64b5afc"
            ]
        ]
    },
    {
        "id": "a36b2eacd2e420b7",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "getPassphrase",
        "func": "var data = msg.payload\n\nvar command = `wpa_passphrase \"${data.ssid}\" \"${data.password}\" | sed '/#psk=\".*\"/d'`\n \nmsg.payload = command\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 60,
        "wires": [
            [
                "c843f6cb69e404b0"
            ]
        ]
    },
    {
        "id": "c843f6cb69e404b0",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1490,
        "y": 60,
        "wires": [
            [
                "b74514467b2785a2"
            ],
            [],
            []
        ]
    },
    {
        "id": "b74514467b2785a2",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "updateWpasupplicant",
        "func": "var template = `sudo tee /etc/wpa_supplicant/wpa_supplicant-wlan0.conf <<EOF\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=DE\n\n${msg.payload}\nEOF\\n\n`\n\nmsg.payload = template\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 60,
        "wires": [
            [
                "270e6f94490afcb4"
            ]
        ]
    },
    {
        "id": "270e6f94490afcb4",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "updateConf",
        "x": 1270,
        "y": 180,
        "wires": [
            [
                "8b904b3cdb1c09e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "8b904b3cdb1c09e1",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "sudo wpa_cli -i wlan0 reconfigure",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "reconfigure",
        "x": 1450,
        "y": 167,
        "wires": [
            [
                "d74e468953db89ec"
            ],
            [],
            []
        ]
    },
    {
        "id": "d74e468953db89ec",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "showMessage",
        "func": "\nmsg.payload = msg.payload.trim() === 'OK' ? \"Wifi configuration updated successfully\" : \"Error while updating wifi configuration\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 154,
        "wires": [
            [
                "b9971fe12d5aa1bd"
            ]
        ]
    },
    {
        "id": "074dd79fa2a86df4",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "iwgetid",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "getCurrentSSID",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "7f65e82cbc313bf2"
            ],
            [],
            []
        ]
    },
    {
        "id": "7f65e82cbc313bf2",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "parseInfo",
        "func": "var ssid = msg.payload.match(/ESSID:\"([^\"]+)\"/)[1]\n\n\nnode.send({topic: 'ssid', payload: ssid})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 247,
        "wires": [
            [
                "e1b2dcd93fab6b78"
            ]
        ]
    },
    {
        "id": "e016d2be3d9dc3ca",
        "type": "ui_button",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "group": "4d0f060d.dee7e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Scan",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 230,
        "y": 181,
        "wires": [
            [
                "036e5d8351f9223a"
            ]
        ]
    },
    {
        "id": "0e9da9f8d9cac06b",
        "type": "ui_dropdown",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "label": "Wifi",
        "tooltip": "",
        "place": "Select a WIFI",
        "group": "4d0f060d.dee7e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 830,
        "y": 67,
        "wires": [
            [
                "dbfb9ab9798d5ee8"
            ]
        ]
    },
    {
        "id": "b1aad502e64b5afc",
        "type": "ui_form",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "label": "",
        "group": "4d0f060d.dee7e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "SSID",
                "value": "ssid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ssid": "",
            "password": ""
        },
        "payload": "",
        "submit": "UPDATE",
        "cancel": "RESET",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 1110,
        "y": 67,
        "wires": [
            [
                "a36b2eacd2e420b7"
            ]
        ]
    },
    {
        "id": "d4fc497d3d0fbc72",
        "type": "ui_text",
        "z": "e424e7a48d7c7c26",
        "group": "a1e7431b.229d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 141,
        "wires": []
    },
    {
        "id": "a7b27421f1f9416c",
        "type": "ui_text",
        "z": "e424e7a48d7c7c26",
        "group": "a1e7431b.229d5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Netmask",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 181,
        "wires": []
    },
    {
        "id": "67fa1a172a5bb74f",
        "type": "ui_text",
        "z": "e424e7a48d7c7c26",
        "group": "a1e7431b.229d5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Broadcast",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "x": 1000,
        "y": 221,
        "wires": []
    },
    {
        "id": "e1b2dcd93fab6b78",
        "type": "ui_text",
        "z": "e424e7a48d7c7c26",
        "group": "a1e7431b.229d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SSID",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "b9971fe12d5aa1bd",
        "type": "ui_toast",
        "z": "e424e7a48d7c7c26",
        "position": "top right",
        "displayTime": "3",
        "highlight": "Green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1650,
        "y": 220,
        "wires": []
    },
    {
        "id": "556f3def9a9f479e",
        "type": "ui_ui_control",
        "z": "e424e7a48d7c7c26",
        "name": "onTab",
        "events": "all",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "9444a5058680ceeb"
            ]
        ]
    },
    {
        "id": "772bb19a899c29b5",
        "type": "ui_slider",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "label": "Set hour",
        "tooltip": "",
        "group": "cfddbc73e4437724",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "23",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 580,
        "wires": [
            [
                "07d7b8199c1927a7"
            ]
        ]
    },
    {
        "id": "c96ae14a6432a2d2",
        "type": "ui_slider",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "label": "Set minute",
        "tooltip": "",
        "group": "cfddbc73e4437724",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 410,
        "y": 620,
        "wires": [
            [
                "27a370e35a079b95"
            ]
        ]
    },
    {
        "id": "b6e3c87ca5c9464d",
        "type": "ui_slider",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "label": "Set seconds",
        "tooltip": "",
        "group": "cfddbc73e4437724",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 410,
        "y": 660,
        "wires": [
            [
                "f3271df428d734a9"
            ]
        ]
    },
    {
        "id": "1a509c6e3d6c6439",
        "type": "ui_button",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "group": "cfddbc73e4437724",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "White",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "f77eb9268ed86c17"
            ]
        ]
    },
    {
        "id": "07d7b8199c1927a7",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "b9fc414f4d3cd8c4"
            ]
        ]
    },
    {
        "id": "27a370e35a079b95",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 620,
        "wires": [
            [
                "b9fc414f4d3cd8c4"
            ]
        ]
    },
    {
        "id": "f3271df428d734a9",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 660,
        "wires": [
            [
                "b9fc414f4d3cd8c4"
            ]
        ]
    },
    {
        "id": "b9fc414f4d3cd8c4",
        "type": "join",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 620,
        "wires": [
            [
                "5458cf0ee0462246"
            ]
        ]
    },
    {
        "id": "1c6bd74cec73321c",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f77eb9268ed86c17",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "time",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "db07e107e1010f68"
            ]
        ]
    },
    {
        "id": "5458cf0ee0462246",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "func": "let hours = msg.payload[0];\nlet minutes = msg.payload[1];\nlet seconds = msg.payload[2];\nif (hours < 10) {\n    hours = \"0\"+hours;\n}\nif (minutes < 10) {\n    minutes = \"0\" + minutes;\n}\nif (seconds < 10) {\n    seconds = \"0\" + seconds;\n}\n\nmsg.payload = hours + \":\" + minutes + \":\" + seconds\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 620,
        "wires": [
            [
                "1c6bd74cec73321c"
            ]
        ]
    },
    {
        "id": "db07e107e1010f68",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "sudo date -s ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 760,
        "wires": [
            [
                "6847e607b7dcbaa9"
            ],
            [],
            []
        ]
    },
    {
        "id": "580641c895eed9a0",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "get time",
        "func": "let now = new Date();\nconst msg1 = { payload: now.getHours() };\nconst msg2 = { payload: now.getMinutes() };\nconst msg3 = { payload: now.getSeconds() };\n\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 620,
        "wires": [
            [
                "772bb19a899c29b5"
            ],
            [
                "c96ae14a6432a2d2"
            ],
            [
                "b6e3c87ca5c9464d"
            ]
        ]
    },
    {
        "id": "0c59aa6c0d5cb41a",
        "type": "ui_button",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "group": "164170ab9447d34f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.label}}",
        "tooltip": "",
        "color": "White",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "connectBtn",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "c433b550033a6e4c",
                "2741a8bced0186d1",
                "2d67e65b7eefd3c2",
                "15a79c7bb2bbf9aa"
            ]
        ]
    },
    {
        "id": "c433b550033a6e4c",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "2f0d62da1f08d99e"
            ],
            [
                "2f0d62da1f08d99e"
            ],
            [
                "2f0d62da1f08d99e"
            ]
        ]
    },
    {
        "id": "d202b230757e2ec3",
        "type": "ui_text",
        "z": "e424e7a48d7c7c26",
        "group": "164170ab9447d34f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktueller Status",
        "format": "<font color= {{msg.color}} > {{msg.payload}}</font>",
        "layout": "col-center",
        "className": "",
        "x": 1100,
        "y": 960,
        "wires": []
    },
    {
        "id": "3612c33fc27c1661",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "offline",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "Red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "connectBtn",
                "pt": "flow",
                "to": "sudo bash wordclock/changeToWifi.sh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 920,
        "wires": [
            [
                "d202b230757e2ec3"
            ]
        ]
    },
    {
        "id": "c53e32f339c3fdac",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "online",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "Green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "connectBtn",
                "pt": "flow",
                "to": "sudo bash wordclock/changeToAp.sh",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1040,
        "wires": [
            [
                "d202b230757e2ec3"
            ]
        ]
    },
    {
        "id": "361c4002fa7f399d",
        "type": "ui_toast",
        "z": "e424e7a48d7c7c26",
        "position": "top right",
        "displayTime": "20",
        "highlight": "Red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "2d86f53a2914e032",
        "type": "ui_toast",
        "z": "e424e7a48d7c7c26",
        "position": "top right",
        "displayTime": "20",
        "highlight": "Red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "c00d0cb1fd156224",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Disconnecting and switching to offline mode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This might take up to two minutes",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 440,
        "wires": [
            [
                "2d86f53a2914e032",
                "b5bd7b959e37cfae"
            ]
        ]
    },
    {
        "id": "de9c5c7657bc67da",
        "type": "inject",
        "z": "e424e7a48d7c7c26",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 960,
        "wires": [
            [
                "5ebbe6d9ef8ffbca"
            ]
        ]
    },
    {
        "id": "5ebbe6d9ef8ffbca",
        "type": "ping",
        "z": "e424e7a48d7c7c26",
        "protocol": "Automatic",
        "mode": "triggered",
        "name": "Online test",
        "host": "www.apple.com",
        "timer": "20",
        "inputs": 1,
        "x": 290,
        "y": 960,
        "wires": [
            [
                "8d4df5423d170c70"
            ]
        ]
    },
    {
        "id": "645fac86767b7db2",
        "type": "switch",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 960,
        "wires": [
            [
                "b64e63fcd9cf19cd",
                "3612c33fc27c1661",
                "97fd06b920205443"
            ],
            [
                "1a8cb64d596e3e2a",
                "c53e32f339c3fdac",
                "2ff8f28e6b182ff1"
            ]
        ]
    },
    {
        "id": "b64e63fcd9cf19cd",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 960,
        "wires": [
            [
                "97b60f1d72a4b8ac"
            ]
        ]
    },
    {
        "id": "1a8cb64d596e3e2a",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "97b60f1d72a4b8ac"
            ]
        ]
    },
    {
        "id": "a9e9086f6c5c95f9",
        "type": "link in",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "links": [
            "f120b1eb074e6f52",
            "09b70f2a08f272f4",
            "2b775c2520582e7c"
        ],
        "x": 135,
        "y": 880,
        "wires": [
            [
                "5ebbe6d9ef8ffbca"
            ]
        ]
    },
    {
        "id": "abd43bdb9931a2f1",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This might take up to a minute",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Attempting to connect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "361c4002fa7f399d",
                "0e0b947690ee312e"
            ]
        ]
    },
    {
        "id": "0e0b947690ee312e",
        "type": "delay",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 400,
        "wires": [
            [
                "86e99af6be3d85e4"
            ]
        ]
    },
    {
        "id": "09b70f2a08f272f4",
        "type": "link out",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "mode": "link",
        "links": [
            "a9e9086f6c5c95f9"
        ],
        "x": 1185,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5bd7b959e37cfae",
        "type": "delay",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 440,
        "wires": [
            [
                "86e99af6be3d85e4"
            ]
        ]
    },
    {
        "id": "97b60f1d72a4b8ac",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "{\"group\":{\"hide\":[\"Home_Set_Time\"],\"show\":[\"Wifi_Current_wifi\"]}}",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "{\"group\":{\"show\":[\"Home_Set_Time\"],\"hide\":[\"Wifi_Current_wifi\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 1000,
        "wires": [
            [
                "285c04e5b2db852b",
                "1142e13b0ae71e85"
            ]
        ]
    },
    {
        "id": "285c04e5b2db852b",
        "type": "ui_ui_control",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "events": "all",
        "x": 1280,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "adeacea6da4aac05",
        "type": "ui_template",
        "z": "e424e7a48d7c7c26",
        "group": "cfddbc73e4437724",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "  <html>\n  <head>\n  <title>Time</title>\n  <script type=\"text/javascript\"> \n  \n  //var date = new Date().toString();\n  //document.getElementById('ct').innerHTML = date;\n  \n  this.scope.sendDate = function() {\n      console.log(\"in function\")\n   // return {payload: new Date().toString()}; // .valueOf() \n    return {payload: new Date().valueOf()}; // \n  }\n \n</script>\n  <style>\n    .customButton {\n      background-color: green;\n    }\n  </style>\n  </head>\n  <body>\n  <div id='ct'></div>\n<md-button class=\"customButton\" ng-click=\"send(sendDate())\">\n    Update time from laptop/phone\n</md-button>\n\n  </body>\n  </html>\n  ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "b184dc7d22471d37"
            ]
        ]
    },
    {
        "id": "a8c020934e71cfa4",
        "type": "debug",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 680,
        "wires": []
    },
    {
        "id": "b184dc7d22471d37",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "func": "let online = global.get(\"online\");\nif (!online){\n    let timestamp = msg.payload.toString();\n    timestamp = timestamp.slice(0,-3);\n    msg.payload = \"@\"+timestamp;\n    return msg;   \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 780,
        "wires": [
            [
                "db07e107e1010f68"
            ]
        ]
    },
    {
        "id": "2741a8bced0186d1",
        "type": "switch",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sudo systemctl start wpa_supplicant@wlan0.service",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "abd43bdb9931a2f1"
            ],
            [
                "c00d0cb1fd156224"
            ]
        ]
    },
    {
        "id": "97fd06b920205443",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Switch to online mode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "Green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 880,
        "wires": [
            [
                "13a9426b0553fe5e"
            ]
        ]
    },
    {
        "id": "2ff8f28e6b182ff1",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Switch to offline mode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "color",
                "pt": "msg",
                "to": "Red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "13a9426b0553fe5e"
            ]
        ]
    },
    {
        "id": "13a9426b0553fe5e",
        "type": "link out",
        "z": "e424e7a48d7c7c26",
        "name": "buttonOut",
        "mode": "link",
        "links": [
            "cc8cdda2f954e536"
        ],
        "x": 955,
        "y": 880,
        "wires": []
    },
    {
        "id": "cc8cdda2f954e536",
        "type": "link in",
        "z": "e424e7a48d7c7c26",
        "name": "buttonIn",
        "links": [
            "13a9426b0553fe5e"
        ],
        "x": 165,
        "y": 400,
        "wires": [
            [
                "0c59aa6c0d5cb41a"
            ]
        ]
    },
    {
        "id": "15a79c7bb2bbf9aa",
        "type": "delay",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "810e3eae676fad08"
            ]
        ]
    },
    {
        "id": "2d67e65b7eefd3c2",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "0c59aa6c0d5cb41a"
            ]
        ]
    },
    {
        "id": "810e3eae676fad08",
        "type": "change",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "0c59aa6c0d5cb41a"
            ]
        ]
    },
    {
        "id": "c8db6a35a820ef09",
        "type": "ui_ui_control",
        "z": "e424e7a48d7c7c26",
        "name": "onTab",
        "events": "all",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "5ebbe6d9ef8ffbca"
            ]
        ]
    },
    {
        "id": "86e99af6be3d85e4",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "cleanup",
        "func": "msg = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "09b70f2a08f272f4"
            ]
        ]
    },
    {
        "id": "8d4df5423d170c70",
        "type": "rbe",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 430,
        "y": 960,
        "wires": [
            [
                "645fac86767b7db2"
            ]
        ]
    },
    {
        "id": "2f0d62da1f08d99e",
        "type": "debug",
        "z": "e424e7a48d7c7c26",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "39d011ba263195bb",
        "type": "ui_text",
        "z": "e424e7a48d7c7c26",
        "group": "cfddbc73e4437724",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuelle Zeit",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 700,
        "wires": []
    },
    {
        "id": "6847e607b7dcbaa9",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "date",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 720,
        "wires": [
            [
                "39d011ba263195bb",
                "4baac5a4831036d4"
            ],
            [],
            []
        ]
    },
    {
        "id": "4bd63216a6dee751",
        "type": "ui_text",
        "z": "e424e7a48d7c7c26",
        "group": "4d0f060d.dee7e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktuell gespeichertes Wifi",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1142e13b0ae71e85",
        "type": "exec",
        "z": "e424e7a48d7c7c26",
        "command": "sudo grep ssid /etc/wpa_supplicant/wpa_supplicant-wlan0.conf",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1170,
        "y": 1060,
        "wires": [
            [
                "039165330207dc93"
            ],
            [],
            []
        ]
    },
    {
        "id": "039165330207dc93",
        "type": "function",
        "z": "e424e7a48d7c7c26",
        "name": "function 1",
        "func": "let ssid = msg.payload;\nssid = ssid.substring(9);\nmsg.payload = ssid; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1040,
        "wires": [
            [
                "4bd63216a6dee751"
            ]
        ]
    },
    {
        "id": "eaab8a79b1d1e124",
        "type": "inject",
        "z": "e424e7a48d7c7c26",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 1160,
        "wires": [
            [
                "1142e13b0ae71e85"
            ]
        ]
    },
    {
        "id": "4332703f1634d16d",
        "type": "link in",
        "z": "e424e7a48d7c7c26",
        "name": "link in 1",
        "links": [
            "4baac5a4831036d4"
        ],
        "x": 135,
        "y": 620,
        "wires": [
            [
                "580641c895eed9a0",
                "a8c020934e71cfa4"
            ]
        ]
    },
    {
        "id": "4baac5a4831036d4",
        "type": "link out",
        "z": "e424e7a48d7c7c26",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "4332703f1634d16d"
        ],
        "x": 795,
        "y": 740,
        "wires": []
    },
    {
        "id": "77a3c4681f4ad148",
        "type": "amazon-echo-hub",
        "z": "08f5dea6a83aa487",
        "port": "8980",
        "processinput": 0,
        "discovery": true,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "74dcb2eb9cd0e92b"
            ]
        ]
    },
    {
        "id": "74dcb2eb9cd0e92b",
        "type": "amazon-echo-device",
        "z": "08f5dea6a83aa487",
        "name": "uhr",
        "topic": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "759b2f30691888c4",
                "bb169f7d959b4923"
            ]
        ]
    },
    {
        "id": "bb169f7d959b4923",
        "type": "debug",
        "z": "08f5dea6a83aa487",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "759b2f30691888c4",
        "type": "function",
        "z": "08f5dea6a83aa487",
        "name": "",
        "func": "let brightness = msg.percentage;\nlet state = msg.on;\nconst colormode = msg.colormode;\nconst red = msg.rgb[0];\nconst green = msg.rgb[1];\nconst blue = msg.rgb[2];\nmsg = {};//cleanup\nmsg.clock = {};\nmsg.clock.led = {};\n\nif (state){\n    msg.clock['on'] = true;\n} else {\n    msg.clock['on'] = false;\n}\n\nif (colormode === \"hs\"){\n    msg.clock.led['red'] = red;\n    msg.clock.led['green'] = green;\n    msg.clock.led['blue'] = blue;\n} else {\n    msg.clock.led['red'] = 254;\n    msg.clock.led['green'] = 254;\n    msg.clock.led['blue'] = 254;\n}\nmsg.clock.led['brightness'] = brightness;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "3605afac912bedd0",
                "bb169f7d959b4923"
            ]
        ]
    },
    {
        "id": "3605afac912bedd0",
        "type": "link out",
        "z": "08f5dea6a83aa487",
        "name": "ui_refresh",
        "mode": "link",
        "links": [
            "c78805e46927af35"
        ],
        "x": 755,
        "y": 240,
        "wires": []
    },
    {
        "id": "7872c103bebe6238",
        "type": "inject",
        "z": "f04735eec23b5190",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sudo shutdown -h now",
        "payloadType": "str",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "e78599e77239b244"
            ]
        ]
    },
    {
        "id": "e78599e77239b244",
        "type": "exec",
        "z": "f04735eec23b5190",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1da0da35fb60cb2a",
        "type": "inject",
        "z": "f04735eec23b5190",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sudo reboot -h now",
        "payloadType": "str",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "e78599e77239b244"
            ]
        ]
    },
    {
        "id": "9b54382d20b8d7ac",
        "type": "inject",
        "z": "f04735eec23b5190",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "node-red-stop",
        "payloadType": "str",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "e78599e77239b244"
            ]
        ]
    },
    {
        "id": "4253157c49b29077",
        "type": "ui_button",
        "z": "72398a8799afddcb",
        "name": "",
        "group": "b9ac046d752c037c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Uhr neu starten",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "Red",
        "className": "",
        "icon": "",
        "payload": "sudo reboot now",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "375952e221bf2836",
                "1ea78f81249a215c"
            ]
        ]
    },
    {
        "id": "375952e221bf2836",
        "type": "exec",
        "z": "72398a8799afddcb",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 570,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1ea78f81249a215c",
        "type": "change",
        "z": "72398a8799afddcb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "4253157c49b29077"
            ]
        ]
    },
    {
        "id": "72dfae4dfef91a8b",
        "type": "ui_text",
        "z": "72398a8799afddcb",
        "group": "e52e753902fcf219",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Firmware Version:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "3babe15ca121bfb6",
        "type": "inject",
        "z": "72398a8799afddcb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.0.0",
        "payloadType": "str",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "72dfae4dfef91a8b"
            ]
        ]
    },
    {
        "id": "485d6a6131e625d5",
        "type": "ui_button",
        "z": "72398a8799afddcb",
        "name": "",
        "group": "e52e753902fcf219",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Firmware aktualisieren",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "sudo node-red-stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "bfa8250e58197054",
                "bf8566b8b3cee6e7",
                "0b9d4b4d3d6f9be5"
            ]
        ]
    },
    {
        "id": "bfa8250e58197054",
        "type": "change",
        "z": "72398a8799afddcb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "485d6a6131e625d5"
            ]
        ]
    },
    {
        "id": "bf8566b8b3cee6e7",
        "type": "exec",
        "z": "72398a8799afddcb",
        "command": "sudo bash wordclock/update.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 650,
        "y": 280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0b9d4b4d3d6f9be5",
        "type": "delay",
        "z": "72398a8799afddcb",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "1b24bc8f908a6c06"
            ]
        ]
    },
    {
        "id": "1b24bc8f908a6c06",
        "type": "exec",
        "z": "72398a8799afddcb",
        "command": "node-red-restart",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 800,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    }
]